<%= form_with(model: thought, local: true) do |form| %>
  <% if thought.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thought.errors.count, "error") %> prohibited this thought from being saved:</h2>

      <ul>
        <% thought.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= form.label :content %>
      <div data-controller="trix-editor">
        <trix-toolbar id="custom_trix-toolbar" class="custom_toolbar" data-target="trix-editor.toolbar">
          <%= render "layouts/components/trix_toolbar_buttons" %>
        </trix-toolbar>
        <%= form.rich_text_area :content,
          toolbar: "custom_trix-toolbar",
          data: {
            target: "trix-editor.editor"
          }
         %>
      </div>
    </p>
    <%= form.submit %>
  </div>
<% end %>
